* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

#background {
    background-image: url("../img/pexels-agnieszka-taggart-3157904-28343999.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.title {
    font-size: 2em;
    font-weight: 600;
    margin: 0.25em;
    color: white;
}

.paragraph {
    font-size: 1.2em;
    font-weight: 500;
    color: lightgray
}

.paragraph::first-letter {
    font-size: 1.5em;
    font-weight: 600;
    margin-right: 0.1em;
    margin-left: 1em;
    color: white;
}

a {
    font-size: 1.2em;
    font-weight: 600;
    color: lightblue;
}

a:hover {
    color: aqua;
}

#projectlist {
    background-color: rgba(50,50,50,0.5);
    backdrop-filter: blur(10px); 
    width: 85vw;
    margin: 0 auto;
    padding: 1em;
    border-radius: .8em;
}

.list {
    margin-left: 3em;
    margin-top: 0.8em;
}

.listitem {
    font-size: 1.2em;
    font-weight: 400;
    color: gray;
}

.listitem::before {
    content: "-";
    margin-right: 0.25em;
    color: lightcoral;
}

#maintitle {
    background-color: rgba(70, 70, 70, .5);
    width: 60vw;
    padding: 0.8em;
    margin: 0 auto;
    border: .2em solid rgba(40,40,40,.5);
    border-radius: 0.8em;
    text-align: center;
    position: relative;
    margin-bottom: 3em;
    top: 2em;
}

#subtitle {
    margin: 2em 0;
}

#githublogo {
    position: relative;
    width:5em;
    top: .55em;
}

#githublogo:hover {
    transform: scale(1.1) ;
    filter: blur(1px);
}